<div> 
    <div id="experience">
        <div class="container-fluid-1" align="center">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                   <b id="titulo"> Experiencia </b>
                   <img src="../../../assets/Nueva carpeta/experiencia.png" id="logoexperiencia" align="right">
                   <ul>
                        <b>Estudio Contable</b>
                        <p>02/2021 - Actualmente trabajando</p>
                        <p>Realizacion de tareas Administrativas, Laborales e impositivas. Carga de comprobantes y devengamientos. Liquidacion de impuestos Locales, Provinciales y Nacionales</p>
                   </ul>
                   <ul>
                        <b>Pasantía Administrativo - Contable</b>
                        <p>03/2020 - 11/2020</p>
                        <p>Registraciones e imputaciones contables. Liquidaciones impositivas.
                         Carga de comprobantes. Conciliación de cuentas contables.
                         Confección de papeles de trabajo previo a la tarea de auditoría.
                         Devengamientos.</p>
                   </ul>     
                </div>
            </div>
        </div>
   </div>
</div>
