.row{
    background-color: rgb(244, 182, 162);
    padding-top: 30px;
    padding-bottom: 50px;
}

.contenedor{
    width: auto;
}

#titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}

#titulo1{
    color: black;
    text-align: center;
} 

#imagen{
    height: auto;
    width: 70%;
    padding: 5px;
    position: center;
    margin-left: 13%;
    box-shadow: 1px 10px 20px rgba(0,0,0,0.5);
    cursor: pointer;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}