#logoap{
    width: 150px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#logoredes{
    position: fixed;
    top: 30%;
    cursor: pointer;
}

#facebook, #linkedin, #github, #whatsapp, #gmail{
    width: 70%;
}


#Ingreso{
    width: 200%;
    margin-left: -200%;
    margin-bottom: 10%;
    height: 200%;
    color: rgb(56, 54, 54);
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-family:sans-serif;
    border-radius: 8px;
    font-size:larger;
    text-align: center;
    box-shadow: 2px 20px 30px rgba(0,0,0,0.5);
    border-style: none;
    
}  


