<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoap">
        </div>
        <div class="redes">
            <div id="logoredes">
            <ol href="https://www.facebook.com"><img src="../../../assets/Facebook.png" id="facebook"></ol>
            <ol href="https://www.whatsapp.com"><img src="../../../assets/Whatsapp.png" id="whatsapp"></ol>
            <ol href="https://www.linkedin.com"><img src="../../../assets/linkedin.png" id="linkedin"></ol>
            <ol href="https://www.gmail.com"><img src="../../../assets/Gmail.png" id="gmail"></ol>
            <ol href="https://www.github.com"><img src="../../../assets/github.png" id="github"></ol>
       </div>
       <div class="in-flex rounded">
         <div class="button">
         <div class="container-fluid">
            <div class="col-10" align="right">
            <div class="row">
                <button id="Ingreso" name="buttoningreso"><strong>Ingreso</strong></button>   
            </div>    
            </div>
         </div>
    </div>
</div>
    </div>
</div>

