
<div class="container-fluid">
    <div class="row">
       <div id="social" class="col-xs-8 col-xs-2 col-md-2 col-lg-2">
            <ol href="https://www.facebook.com"><img src="../../../assets/Facebook.png" id="facebook"></ol>
            <ol href="https://www.whatsapp.com"><img src="../../../assets/Whatsapp.png" id="whatsapp"></ol>
            <ol href="https://www.linkedin.com"><img src="../../../assets/linkedin.png" id="linkedin"></ol>
            <ol href="https://www.gmail.com"><img src="../../../assets/Gmail.png" id="gmail"></ol>
            <ol href="https://www.github.com"><img src="../../../assets/github.png" id="github"></ol>
       </div>
    </div>
</div>
