#social{
    width: 10%;
    position: fixed;
    top: 30%;
    margin-left: 92%;
    cursor: pointer;
}

#facebook{
    width: 40%;
} 

#whatsapp{
    width: 47%;
}

#linkedin{
    width: 42%;
}

#gmail{
    width: 47%;
}

#github{
    width: 39%;
    margin-left: 5%;
}

