#education{
    background-color: burlywood;  
    width: auto;
    display: flex; 
    padding-top: 60px;
    position: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#educacion{
    text-align: right;
}

#logoeducacion{
    width: 40%;
    margin-left: 10%;
}

b{
    font-size: x-large;
}

#titulo{
    font-size: xx-large;
    color: white;
    text-align: right;
}