<div id="education">
    <div class="container-fluid-2" align="center">
        <div class="row">
            <div class="col-lg-1"></div>
                <div class="col-lg-11">
                <b id="titulo">Educación</b>
                <img src="../../../assets/Nueva carpeta/Educacion.png" id="logoeducacion" align="right">
                <ul>
                    <b>Desarrollador Ful Stack Jr.</b>
                    <p>Argentina Programa</p>
                    <b>Marketing Digital</b>
                    <p>Ad Agree</p>
                    <b>Licenciatura en Gestión Tecnológica</b>
                    <p>Universidad Nacional del Centro de la Provincia de Buenos Aires</p>
                    <b>Contador Público</b>
                    <p>Universidad Nacional del Centro de la Provincia de Buenos Aires</p>
                </ul>    
                </div>
            </div>
        </div>            
    </div>

