<div class="row">
    <circle-progress
    [percent]="85"
    [radius]="90"
    [title]="'Angular'"
    [showUnits]="false"
    [titleColor]="'white'"
    [titleFontSize]="'1.7em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="true"
    [imageSrc]="'Angular/angular-proyecto-integrador/src/assets/Nueva carpeta/010.webp'"
    [showImage]="true"
      ></circle-progress>
</div>