<div class="row" id="titulo">
   <h1> Hard & Soft skills</h1>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="60"
       [radius]="90"
       [title]="'Angular'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.7em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   