<div class="row" id="titulo">
  <div class="col-lg-1"></div>
  <h1> Hard skills</h1>
  <div class="col-lg-11" id="circle">
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="60"
       [radius]="90"
       [title]="'Angular'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="60"
       [radius]="90"
       [title]="'Java Script'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'HTML'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'CSS'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'MySQL'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'Inglés'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   
   <div class="row" id="titulo">
    <div class="col-lg-1"></div>
    <h1>Soft skills</h1>
    <div class="col-lg-11" id="circle">
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
             [percent]="90"
             [radius]="90"
             [title]="'Adaptabilidad'"
             [showUnits]="false"
             [titleColor]="'white'"
             [titleFontSize]="'1.3em'"
             [showSubtitle]="false"
             [outerStrokeWidth]="16"
             [innerStrokeWidth]="4"
             [outerStrokeColor]="'rgb(218, 247, 26)'"
             [innerStrokeColor]="'rgb(229, 246, 122)'"
             [animation]="true"
             [animationDuration]="2000"
             [lazy]="true"
           ></circle-progress>
         </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="80"
       [radius]="90"
       [title]="'Liderazgo'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'rgb(218, 247, 26)'"
       [innerStrokeColor]="'rgb(229, 246, 122)'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="75"
       [radius]="90"
       [title]="'Trabajo en equipo'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.2em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'rgb(218, 247, 26)'"
       [innerStrokeColor]="'rgb(229, 246, 122)'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   

   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="85"
       [radius]="90"
       [title]="'Proactividad'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.3em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'rgb(218, 247, 26)'"
       [innerStrokeColor]="'rgb(229, 246, 122)'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>  
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="77"
       [radius]="90"
       [title]="'Toma de decisiones'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1.1em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'rgb(218, 247, 26)'"
       [innerStrokeColor]="'rgb(229, 246, 122)'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>  
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="80"
       [radius]="90"
       [title]="'Orientado a objetivos'"
       [showUnits]="false"
       [titleColor]="'white'"
       [titleFontSize]="'1em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="4"
       [outerStrokeColor]="'rgb(218, 247, 26)'"
       [innerStrokeColor]="'rgb(229, 246, 122)'"
       [animation]="true"
       [animationDuration]="2000"
       [lazy]="true"
     ></circle-progress>
   </div>   
   


   