<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Nueva carpeta/003.jpg" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-xs-2 col-md-2 col-lg-2">
        <p id="nombre">Miculic Antonella Estefanía</p>    
    </div>    
    <div class="col-xs-12 col-xs-8 col-md-8 col-lg-8" id="description">
        <h1>Full Stack Developer Jr</h1>
        <h1>Contadora Pública</h1>
        <h1>Licenciatura en Gestión Tecnológica</h1>
        <h1>Marketing Digital</h1>
    </div>
</div>
